.sec-accordion {
  padding: 1.5rem;
  // padding-top: 0.5rem;
}
.searchForm {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 15px;
  padding: 1.5rem 1.5rem 0px 1.5rem;

  .input-btn_container {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
  }

  .TextField {
    background-color: red;
  }

  .search-btn {
    color: #bf9a5a;
  }
}

@media screen and (max-width: 480px) {
  .sec-accordion {
    padding: 1.5rem 0.5rem;
    padding-top: 0.5rem;
  }
  .searchForm {
    justify-content: center;
    padding: 1.5rem 0.5rem;
  }
}
