.filterForm {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 15px;
  padding: 0px 0px 20px 0px;
  .input-btn_container {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
  }
  .TextField {
    background-color: red;
  }
  .search-btn {
    color: #bf9a5a;
  }
}
@media screen and (max-width: 480px) {
  .filterForm {
    justify-content: center;
  }
}
