.sec-accordion {
  margin-bottom: 30px;
  min-height: 80vh;
}
.pagination-container {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9e6b0;
  border-radius: 20px;
  width: fit-content;
  margin: 0px auto;
  height: 47px;
  -webkit-box-shadow: 10px 10px 26px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 26px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 26px -12px rgba(0, 0, 0, 0.75);
  margin-bottom: 20px;
  a {
    padding: 2px 13px;
    margin: 8px;
    border-radius: 50%;
    border: 1px solid #cf0d0d;
    font-weight: bold;
    cursor: pointer;
    -webkit-box-shadow: 10px 10px 26px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 26px -12px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 26px -12px rgba(0, 0, 0, 0.75);
    transition: 0.5s;
    &:hover {
      color: white;
      background-color: #f34747;
    }
  }
  .paginationActive a {
    color: white;
    background-color: #cf0d0d;
  }
  .paginationDisabled a {
    color: rgb(70, 70, 70);
    opacity: 0.5;
    cursor: default;
    background-color: rgb(190, 190, 190);
  }
}
