.accordion-container {
  margin-bottom: 10px;
  background-color: #fff3d0 !important;
  .AccordionSummary {
    background-color: #fff3d0 !important;
  }
  .AccordionDetails {
    border-top: 2px solid rgb(255, 255, 255) !important;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    background-color: #fffee7;
  }
  .accord-title {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: bold !important;
    .question-icon {
      color: #a98549;
    }
  }
  .select {
    width: 100px;
  }
  .article-attachments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
}
@media screen and (max-width: 768px) {
  .accordion-container {
    .AccordionDetails {
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }
    .article-attachments {
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 5px;
    }
  }
}
