.Top-nav {
  background-color: rgb(173, 173, 173);
  height: 100px;
  display: flex;
  align-items: center;
  .container{
    display: flex;
    justify-content: space-between;
  }
  .logo-icon{
    font-size: 40px;
  }
}