.Top-nav {
  background-color: #fff9e7;
  height: 100px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #f12b2b;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo-icon {
    font-size: 40px;
  }
  .btnNav-lang {
    transition: 0.5s;
    border-bottom: 1px solid #1976d2;
  }
  .btnNav-lang:hover {
    border-bottom: 1px solid #f12b2b;
  }
}
