.Top-nav {
  background-color: #fff9e7;
  min-height: 100px;
  border-bottom: 2px solid #bf2300;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    .btnNav-lang {
      display: flex;
      align-items: center;
      gap: 3px;
      color: rgb(39, 39, 39);
      border: none;
      border-bottom: 2px solid #bf9e66;
      font-size: 15px;
      background-color: transparent;
      padding: 2px;
      transition: 0.5s;
      cursor: pointer;
      // font-weight: bold;
    }
    .btnNav-lang:hover {
      border-bottom: 2px solid #bf2300;
      color: black;
    }
    .co-name {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 10px;
      margin: 10px;
    }
  }
}
@media screen and (max-width: 480px) {
  .Top-nav {
    .container {
      justify-content: center;
      padding: 1rem 0;
    }
  }
}
