.sidebar-filter {
  &:first-child {
    border-bottom: 3px solid #ffffff;
  }
  .side-filterForm {
    margin-bottom: 20px;
    width: 90%;
  }
  .filter-title {
    margin-bottom: 10px;
    border-bottom: 3px solid #ffffff;
  }
  .selector-item {
    background-color: red;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .sidebar-filter {
    .sidebar-filter__container {
      width: 90%;
      margin: 0px auto;
      display: flex;
      gap: 10px;
      justify-content: space-between;
      .side-filterForm {
        // margin-bottom: 0px;
      }
    }
  }
}
